// @media (max-width: 1233px) {
//   .conteiner {
//     margin: 0;
//     padding: 0;
//     header {
//       padding: 30px 25px;
//     }
//     main {
//       padding: 0px 10px;
//       .section1 {
//         .slideshow-container {
//           .mySlides {
//             .text {
//               top: 0px;
//             }
//           }
//         }
//       }
//     }
//   }
// }

@media (max-width: 1024px) {
  .conteiner {
    header {
      .header-left {
        .links {
          display: none;
        }
      }
      .header-right {
        display: none;
      }
      .bx-menu {
        display: block;
      }
    }
    main {
      .section1 {
        .slideshow-container {
          .nexrOrPrev {
            margin-top: -29px;
          }
        }
      }
    }
  }
}

@media (max-width: 775px) {
  .conteiner {
    main {
      .section1 {
        .slideshow-container {
          .nexrOrPrev {
            a {
              width: 27px;
              height: 27px;
            }
          }
          .mySlides {
            .text {
              h1 {
                font-size: 28px;
              }
              p {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 625px) {
  .conteiner {
    header {
      padding: 10px;
      .header-left {
        padding: 0;
        .logo {
          img {
            width: 100px;
            height: 30px;
          }
        }
      }
      .bx-menu {
        font-size: 34px;
      }
    }
    .hamburgerMenu {
      width: 100%;
    }
    main {
      .section1 {
        .slideshow-container {
          .nexrOrPrev {
            margin-top: -35px;
          }
          .mySlides {
            .text {
              h1 {
                font-size: 24px;
              }
              p {
                font-size: 12px;
                margin-top: 0;
              }
            }
          }
        }
      }
    }
  }
}
